footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    bottom: 0;
    height: 12.5rem;
    width: 100%;
    background-color: black;
}



footer > div:nth-child(3){
    padding: 2px 0;
    border-top: 0.5px solid #e5e7eb;
    border-bottom: 0.5px solid #e5e7eb;
}